@font-face {
    font-family: roboto;
    src: url(../fonts/Roboto-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: roboto;
    src: url(../fonts/Roboto-Bold.ttf);
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: roboto;
    src: url(../fonts/Roboto-ThinItalic.ttf);
    font-weight: 100;
    font-style: italic;
}