.main{
    display: flex;
    gap: 1rem;
    align-items: center;
}
.main-info{
    flex: 1;
}
.main-title{
    inline-size: 400px;
    font: var(--extra-bold);
    color: var(--logo);
}
.main-p{
    color: var(--secondary);
}
.main-button{
    background-color: var(--button);
    color: var(--logo);
    border: none;
    padding: .5rem 2rem;
    border-radius: .25rem;
    font: var(--header);
    cursor: pointer;
    transition: .1s;
}
.main-button:active{
    transform: scale(.9);
}
.main-cover{
    flex: 1;
    block-size: 250px;
    background-color: #6D747D;
}